@import "../../colors.scss";

.comments-container {
  .comment-container {
    margin: 30px 10px;
  }

  .heading-row {
    font-size: 8pt;
    color: $text-gray;
  }

  .content.hidden,
  .content.hidden * {
    display: none;
  }

  span {
    margin-right: 8px;
  }

  a {
    color: black;
  }

  .loading {
    background-color: $orange;
    font-size: 10pt;
    text-align: center;
    padding: 5px;
  }
}
